.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.3);
}

.link {
    color: white;
}