@import '../../styles/sizes';
@import '../../styles/colors';

.loginContainer {
    background: $dark;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 1rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
    border-radius: .8rem;
    min-height: 20rem;
    @media screen and (min-width: $tablet) {
        width: 75%;
    }
    @media screen and (min-width: $desktop) {
        width: 50%;
    }
    button {
        min-height: 3rem;
    }
}